<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fallframework.platform.starter.file.mapper.FileInfoMapper">
  <resultMap id="BaseResultMap" type="com.fallframework.platform.starter.file.entity.FileInfo">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="extension" jdbcType="VARCHAR" property="extension" />
    <result column="storage_type" jdbcType="VARCHAR" property="storageType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, extension, storage_type, remark, url, `status`, category, create_user_id, 
    modify_user_id, gmt_create, gmt_modified
  </sql>
</mapper>