<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fallframework.platform.starter.mail.mapper.MailHistoryMapper">
    <resultMap id="BaseResultMap" type="com.fallframework.platform.starter.mail.entity.MailHistory">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="template_code" jdbcType="VARCHAR" property="templateCode"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="from" jdbcType="VARCHAR" property="from"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="receiver" jdbcType="VARCHAR" property="receiver"/>
        <result column="cc" jdbcType="VARCHAR" property="cc"/>
        <result column="bcc" jdbcType="VARCHAR" property="bcc"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="file_group_id" jdbcType="BIGINT" property="fileGroupId"/>
        <result column="try_count" jdbcType="TINYINT" property="tryCount"/>
        <result column="last_send_time" jdbcType="TIMESTAMP" property="lastSendTime"/>
        <result column="send_flag" jdbcType="CHAR" property="sendFlag"/>
        <result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
        <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, templateCode, title, `from`, userId, userName, receiver, cc, bcc, content, file_group_id, try_count, last_send_time,
        send_flag, create_user_id, modify_user_id, gmt_create, gmt_modified
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_mail_history
        <where>
            <if test="param2.userName != null">
                `userName` LIKE CONCAT('%', #{param2.userName,jdbcType=VARCHAR}, '%'),
            </if>
            <if test="param2.title != null">
                `title` LIKE CONCAT('%', #{param2.title,jdbcType=VARCHAR}, '%'),
            </if>
            <if test="param2.receiver != null">
                `receiver` LIKE CONCAT('%', #{param2.receiver,jdbcType=VARCHAR}, '%'),
            </if>
            <if test="param2.sendFlag != null">
                sendFlag = #{param2.sendFlag,jdbcType=VARCHAR}
            </if>
            ORDER by id DESC
        </where>
    </select>

</mapper>