<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fallframework.platform.starter.wxwork.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.fallframework.platform.starter.wxwork.entity.Department">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
    <result column="department_leader" jdbcType="VARCHAR" property="departmentLeader" />
    <result column="parentid" jdbcType="BIGINT" property="parentid" />
    <result column="order" jdbcType="BIGINT" property="order" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, name_en, department_leader, parentid, `order`
  </sql>
</mapper>