<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fallframework.platform.starter.wxwork.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.fallframework.platform.starter.wxwork.entity.User">
    <!--@mbg.generated-->
    <id column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="order" jdbcType="VARCHAR" property="order" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="biz_mail" jdbcType="VARCHAR" property="bizMail" />
    <result column="is_leader_in_dept" jdbcType="VARCHAR" property="isLeaderInDept" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="thumb_avatar" jdbcType="VARCHAR" property="thumbAvatar" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="extattr" jdbcType="LONGVARCHAR" property="extattr" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="qr_code" jdbcType="VARCHAR" property="qrCode" />
    <result column="external_profile" jdbcType="LONGVARCHAR" property="externalProfile" />
    <result column="external_position" jdbcType="VARCHAR" property="externalPosition" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="open_userid" jdbcType="VARCHAR" property="openUserid" />
    <result column="main_department" jdbcType="VARCHAR" property="mainDepartment" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    userid, `name`, mobile, department, `order`, `position`, email, biz_mail, is_leader_in_dept, 
    avatar, thumb_avatar, telephone, `alias`, extattr, `status`, qr_code, external_profile, 
    external_position, address, open_userid, main_department
  </sql>
</mapper>