<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fallframework.platform.starter.config.mapper.DictDtlMapper">
	<resultMap id="BaseResultMap" type="com.fallframework.platform.starter.config.entity.DictDtl">
		<!--@mbg.generated-->
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="dict_id" jdbcType="BIGINT" property="dictId"/>
		<result column="code" jdbcType="VARCHAR" property="code"/>
		<result column="status" jdbcType="BOOLEAN" property="status"/>
		<result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
		<result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId"/>
		<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
	</resultMap>
	<sql id="Base_Column_List">
		<!--@mbg.generated-->
		id, dict_id, code, `desc`, `status`, create_user_id, modify_user_id, gmt_create, gmt_modified
	</sql>

	<select id="list" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
		s_dict_dtl
		<where>
			<if test="param2.id != null">
				id = #{param2.id,jdbcType=BIGINT},
			</if>
			<if test="param2.dictId != null">
				AND dict_id = #{param2.dictId,jdbcType=BIGINT},
			</if>
			<if test="param2.code != null">
				AND code like CONCAT('%', #{param2.code,jdbcType=VARCHAR}, '%')
			</if>
			<if test="param2.desc != null">
				AND `desc` LIKE CONCAT('%', #{param2.desc,jdbcType=VARCHAR}, '%')
			</if>
			<if test="param2.status != null">
				AND `status` = #{param2.status,jdbcType=TINYINT}
			</if>
			<!-- 基础字段过滤 -->
			<include refid="com.fallframework.platform.starter.data.mp.mapper.CommonMapper.Common_Column_Filter"/>
		</where>
		ORDER by id DESC
	</select>
	
	<select id="getDictDtlsByCode" resultMap="BaseResultMap">
		SELECT
			t1. `code`,
			t2.resource_value AS `desc`
		FROM
			(
				SELECT
					`code`
				FROM
					s_dict_dtl
				WHERE
					dict_id = (
						SELECT
							id
						FROM
							s_dict
						WHERE
							`code` = #{code,jdbcType=VARCHAR} 
					)
			) t1
		LEFT JOIN s_i18n_resource t2 ON t2.resource_key = t1.`code`
	</select>

</mapper>