<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fallframework.platform.starter.rbac.mapper.MenuMapper">
	<resultMap id="BaseResultMap" type="com.fallframework.platform.starter.rbac.entity.Menu">
		<!--@mbg.generated-->
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="parent_id" jdbcType="BIGINT" property="parentId"/>
		<result column="menu_code" jdbcType="VARCHAR" property="menuCode"/>
		<result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
		<result column="menu_desc" jdbcType="VARCHAR" property="menuDesc"/>
		<result column="func_link" jdbcType="VARCHAR" property="funcLink"/>
		<result column="open_type" jdbcType="TINYINT" property="openType"/>
		<result column="icon" jdbcType="VARCHAR" property="icon"/>
		<result column="order" jdbcType="TINYINT" property="order"/>
		<result column="remark" jdbcType="VARCHAR" property="remark"/>
		<result column="is_show" jdbcType="TINYINT" property="isShow"/>
		<result column="create_user_id" jdbcType="BIGINT" property="createUserId"/>
		<result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId"/>
		<result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
		<result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
	</resultMap>
	<sql id="Base_Column_List">
		<!--@mbg.generated-->
		id, parent_id, menu_code, menu_name, menu_desc, func_link, open_type, icon, `order`,
		remark, is_show, create_user_id, modify_user_id, gmt_create, gmt_modified
	</sql>

	<select id="list" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from s_menu
		<where>
			<if test="param2.id != null">
				id = #{id,jdbcType=BIGINT}
			</if>
			<if test="param2.parentId != null">
				AND parent_id = #{parentId,jdbcType=BIGINT}
			</if>
			<if test="param2.menuCode != null">
				AND menu_code CONCAT('%', #{menuCode,jdbcType=VARCHAR}, '%')
			</if>
			<if test="param2.menuName != null">
				AND menu_name CONCAT('%', #{menuName,jdbcType=VARCHAR}, '%')
			</if>
			<if test="param2.menuDesc != null">
				AND menu_desc CONCAT('%', #{menuDesc,jdbcType=VARCHAR}, '%')
			</if>
			<if test="param2.funcLink != null">
				AND func_link CONCAT('%', #{funcLink,jdbcType=VARCHAR}, '%')
			</if>
			<if test="param2.openType != null">
				AND open_type = #{openType,jdbcType=TINYINT}
			</if>
			<if test="param2.icon != null">
				AND icon CONCAT('%', #{icon,jdbcType=VARCHAR}, '%')
			</if>
			<if test="param2.order != null">
				AND order = #{order,jdbcType=TINYINT}
			</if>
			<if test="param2.remark != null">
				AND remark CONCAT('%', #{remark,jdbcType=VARCHAR}, '%')
			</if>
			<if test="param2.isShow != null">
				AND is_show = #{isShow,jdbcType=TINYINT}
			</if>
		</where>
		ORDER BY id DESC
	</select>

	<select id="getMenusByUserId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
			s_menu
		WHERE
			id IN (
				SELECT
					DISTINCT menu_id
				FROM
					s_role_menu
				WHERE
					role_id IN (
						SELECT
							role_id
						FROM
							s_user_role
						WHERE
							user_id = #{userId,jdbcType=BIGINT}
					)
			)
	</select>
	
	<select id="getMenusByRoleIds" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
			s_menu
		WHERE
			id IN (
				SELECT
					DISTINCT menu_id
				FROM
					s_role_menu
				WHERE
					role_id IN
				<foreach collection="param2" item="item" index="index" open="(" separator="," close=")">
					#{item,jdbcType=VARCHAR}
				</foreach>
		
			)
	</select>
	
	<select id="getAllMenusByUserId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM
			s_menu
		WHERE
			id IN (
				SELECT
					DISTINCT menu_id
				FROM
					s_role_menu
				WHERE
					role_id IN (
						SELECT
							role_id
						FROM
							s_user_role
						WHERE
							user_id = #{userId,jdbcType=BIGINT}
					)
			)
		AND `is_show` = 1
	</select>
	
</mapper>