<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fallframework.platform.starter.i18n.mapper.I18nResourceMapper">
  <resultMap id="BaseResultMap" type="com.fallframework.platform.starter.i18n.entity.I18nResource">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="lang_code" jdbcType="VARCHAR" property="langCode" />
    <result column="resource_key" jdbcType="VARCHAR" property="resourceKey" />
    <result column="resource_value" jdbcType="LONGVARCHAR" property="resourceValue" />
    <result column="module_code" jdbcType="VARCHAR" property="moduleCode" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="modify_user_id" jdbcType="BIGINT" property="modifyUserId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, lang_code, resource_key, resource_value, module_code, create_user_id, modify_user_id, 
    gmt_create, gmt_modified
  </sql>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into s_i18n_resource
    (lang_code, resource_key, resource_value, module_code, create_user_id, modify_user_id, 
      gmt_create, gmt_modified)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.langCode,jdbcType=VARCHAR}, #{item.resourceKey,jdbcType=VARCHAR}, #{item.resourceValue,jdbcType=LONGVARCHAR}, 
        #{item.moduleCode,jdbcType=VARCHAR}, #{item.createUserId,jdbcType=BIGINT}, #{item.modifyUserId,jdbcType=BIGINT}, 
        #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>