<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.fallframework.platform.starter.sms.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-sms/src/main/java" />
        <option name="javaModelPackage" value="com.fallframework.platform.starter.sms.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-sms/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="fall-platform-starter-sms" />
        <option name="lombokAnnotation" value="@GetterSetter" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="fall-platform-starter-config">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.config.model" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-config/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.config.model" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-config/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-config/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-config/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.config.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-config/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="fall-platform-starter-file-api">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.file.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-file-api/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.file.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-file-api/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.fallframework.platform.starter.file.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-file-api/src/main/java" />
                  <option name="javaServicePackage" value="com.fallframework.platform.starter.file.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-file-api/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.file.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-file-api/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="fall-platform-starter-i18n">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.i18n.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-i18n/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.i18n.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-i18n/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.fallframework.platform.starter.i18n.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-i18n/src/main/java" />
                  <option name="javaServicePackage" value="com.fallframework.platform.starter.i18n.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-i18n/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.i18n.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-i18n/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="fall-platform-starter-mail">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.mail.tmp" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-mail/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.mail.tmp" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-mail/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-mail/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-mail/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.mail.tmp" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-mail/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="fall-platform-starter-mq">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.mq.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-mq/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.mq.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-mq/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.fallframework.platform.starter.mq.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-mq/src/main/java" />
                  <option name="javaServicePackage" value="com.fallframework.platform.starter.mq.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-mq/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.mq.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-mq/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="fall-platform-starter-mq-api">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.mq.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-mq-api/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.mq.api" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-mq-api/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.fallframework.platform.starter.mq.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-mq-api/src/main/java" />
                  <option name="javaServicePackage" value="com.fallframework.platform.starter.mq.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-mq-api/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.mq.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-mq-api/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="fall-platform-starter-mvc">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.mvc.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-mvc/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.mvc.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-mvc/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.fallframework.platform.starter.mvc.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-mvc/src/main/java" />
                  <option name="javaServicePackage" value="com.fallframework.platform.starter.mvc.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-mvc/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.mvc.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-mvc/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="fall-platform-starter-pay">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.pay.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-pay/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.pay.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-pay/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.fallframework.platform.starter.pay.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-pay/src/main/java" />
                  <option name="javaServicePackage" value="com.fallframework.platform.starter.pay.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-pay/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.pay.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-pay/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="fall-platform-starter-sms">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.sms.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-sms/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.sms.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-sms/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.fallframework.platform.starter.sms.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-sms/src/main/java" />
                  <option name="javaServicePackage" value="com.fallframework.platform.starter.sms.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-sms/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.sms.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-sms/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="fall-platform-starter-task-quartz">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.task.quartz.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-task-quartz/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.task.quartz.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-task-quartz/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.fallframework.platform.starter.task.quartz.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-task-quartz/src/main/java" />
                  <option name="javaServicePackage" value="com.fallframework.platform.starter.task.quartz.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-task-quartz/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.task.quartz.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-task-quartz/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="fall-platform-starter-task-xxljob">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fallframework.platform.starter.task.xxljob.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/fall-platform-starter-task-xxljob/src/main/java" />
                  <option name="javaModelPacakge" value="com.fallframework.platform.starter.task.xxljob.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/fall-platform-starter-task-xxljob/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.fallframework.platform.starter.task.xxljob.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/fall-platform-starter-task-xxljob/src/main/java" />
                  <option name="javaServicePackage" value="com.fallframework.platform.starter.task.xxljob.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/fall-platform-starter-task-xxljob/src/main/java" />
                  <option name="xmlPackage" value="com.fallframework.platform.starter.task.xxljob.mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/fall-platform-starter-task-xxljob/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="fallplatform:pay_ali_config">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="PayAliConfig" />
                  <option name="moduleName" value="fall-platform-starter-pay" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:pay_cert_file">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="PayCertFile" />
                  <option name="moduleName" value="fall-platform-starter-pay" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:pay_order">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="PayOrder" />
                  <option name="moduleName" value="fall-platform-starter-pay" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:pay_type">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="PayType" />
                  <option name="moduleName" value="fall-platform-starter-pay" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:pay_wechat_config">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="PayWechatConfig" />
                  <option name="moduleName" value="fall-platform-starter-pay" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_blob_triggers">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzBlobTriggers" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_calendars">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzCalendars" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_cron_triggers">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzCronTriggers" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_fired_triggers">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzFiredTriggers" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_job_details">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzJobDetails" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_locks">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzLocks" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_paused_trigger_grps">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzPausedTriggerGrps" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_scheduler_state">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzSchedulerState" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_simple_triggers">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzSimpleTriggers" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_simprop_triggers">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzSimpropTriggers" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:qrtz_triggers">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="QrtzTriggers" />
                  <option name="moduleName" value="fall-platform-starter-task-quartz" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_file_group">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="FileGroup" />
                  <option name="moduleName" value="fall-platform-starter-file-api" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_file_info">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="FileInfo" />
                  <option name="moduleName" value="fall-platform-starter-file-api" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_i18n_resource">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="I18nResource" />
                  <option name="moduleName" value="fall-platform-starter-i18n" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_mail_history">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="MailHistory" />
                  <option name="moduleName" value="fall-platform-starter-mail" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_mail_sender_config">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="MailSenderConfig" />
                  <option name="moduleName" value="fall-platform-starter-mail" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_mail_template">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="MailTemplate" />
                  <option name="moduleName" value="fall-platform-starter-mail" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_mq_trace_log">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="MqTraceLog" />
                  <option name="moduleName" value="fall-platform-starter-mq" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_mq_trace_record">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="MqTraceRecord" />
                  <option name="moduleName" value="fall-platform-starter-mq-api" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_permission">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Permission" />
                  <option name="moduleName" value="fall-platform-starter-mvc" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_sms_config">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="SmsConfig" />
                  <option name="moduleName" value="fall-platform-starter-sms" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_sms_history">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="SmsHistory" />
                  <option name="moduleName" value="fall-platform-starter-sms" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_sms_template">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="SmsTemplate" />
                  <option name="moduleName" value="fall-platform-starter-sms" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_sys_param_group">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="SysParamGroup" />
                  <option name="moduleName" value="fall-platform-starter-config" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:s_sys_param_item">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="SysParamItem" />
                  <option name="moduleName" value="fall-platform-starter-i18n" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:xxl_job_group">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="XxlJobGroup" />
                  <option name="moduleName" value="fall-platform-starter-task-xxljob" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:xxl_job_info">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="XxlJobInfo" />
                  <option name="moduleName" value="fall-platform-starter-task-xxljob" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:xxl_job_lock">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="XxlJobLock" />
                  <option name="moduleName" value="fall-platform-starter-task-xxljob" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:xxl_job_log">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="XxlJobLog" />
                  <option name="moduleName" value="fall-platform-starter-task-xxljob" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:xxl_job_log_report">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="XxlJobLogReport" />
                  <option name="moduleName" value="fall-platform-starter-task-xxljob" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:xxl_job_logglue">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="XxlJobLogglue" />
                  <option name="moduleName" value="fall-platform-starter-task-xxljob" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:xxl_job_registry">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="XxlJobRegistry" />
                  <option name="moduleName" value="fall-platform-starter-task-xxljob" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="fallplatform:xxl_job_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="XxlJobUser" />
                  <option name="moduleName" value="fall-platform-starter-task-xxljob" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useLomBokOnModel" value="true" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="com.fallframework.platform.starter.sms.mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/fall-platform-starter-sms/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>